@media (max-width:768px){

    nav{
        padding:20px;
    }

    .menu-btn{
        display:block;
    }

    .nav-links{

        display:none;
        opacity: 50%;
        position:absolute;
        top:80px;

        left: 0;

        width:100%;
        background:#1E293B;

        flex-direction:column;

        text-align:left;
        

        padding:20px 0;

        gap:20px;

    }
    .nav-links a{
        opacity: 100%;
        color: white;
    }

    .nav-links.active{
        display:flex;
    }

    .hero{

    flex-direction:column-reverse;

    text-align:center;

    padding:40px 20px;

}

.hero-text{

    width:100%;

}

.hero-image{

    width:100%;

}

.hero-image img{

    width:250px;

}

.hero h1{

    font-size:40px;

}

.scroll-down{
    display: none;
}

@media(max-width:768px){

    .project-container{

        grid-template-columns:1fr;

    }

}
}

@media(max-width:992px){

    .project-container{

        grid-template-columns:repeat(2,1fr);

    }

}